$body-font: "Trebuchet MS", Helvetica, sans-serif;

body {
  padding: 50px;
  font-family: $body-font;
  font-size: 40px;
}

h1{
	margin: 10px 0;
}

a {
  color: #006699;
  &:hover{
  	color: #00B7FF;
  }
}

ul {
	margin: 10px 10px;
}

#navbar {
  width: 100%;
  float: left;
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc; 
  border-top: 1px solid #ccc; 
  border-left: 1px solid #ccc; 
  border-right: 1px solid #ccc; 
  text-align: center;
	li {
		display: inline;
  	text-align: center;
		a {
		  padding: 0px 15px;
		  text-decoration: none;
  	  text-align: center;
		  &:hover{
		  	background-color: #fff; 
		  }
		}
	}
	.divider-vertical {
		text-align: center;
		margin: 0 10px;
		border-right: 1px solid #ccc;
		border-left: 1px solid #ccc;
	}
}

@media only screen and (max-width: 1024px) {
	body {
	  padding: 30px;
	  font-family: $body-font;
	  font-size: 35px;
	}
	h1{
		font-size: 40px;
		margin: 10px 0;
	}
	ul{
		padding-left:5px;
		margin: 4px 2px;
	}
	li{
		margin: 0 0;
	}
	#navbar {
	  font-size: 35px;
	}
}


@media only screen and (max-width: 860px) {
	body {
	  padding: 30px;
	  font-family: $body-font;
	  font-size: 25px;
	}
	h1{
		font-size: 30px;
		margin: 10px 0;
	}
	ul{
		padding-left:5px;
		margin: 3px 2px;
	}
	li{
		margin: 0 0;
	}
	#navbar {
	  font-size: 25px;
	}
}

@media only screen and (max-device-width: 560px) {
	body {
	  padding: 30px;
	  font-family: $body-font;
	  font-size: 15px;
	}
	h1{
		font-size: 20px;
		margin: 10px 0;
	}
	ul{
		padding-left:5px;
		margin: 2px 2px;
	}
	li{
		margin: 0 0;
	}
	#navbar {
	  font-size: 15px;
	}
}

@media only screen and (max-device-width: 480px) {
	body {
	  padding: 30px;
	  font-family: $body-font;
	  font-size: 10px;
	}
	h1{
		font-size: 20px;
		margin: 5px 0;
	}
	ul{
		padding-left:5px;
		margin: 1px 2px;
	}
	li{
		margin: 0 0;
	}
	#navbar {
	  font-size: 10px;
	}
}