	<label for="name">Task Name:</label>
	<input type="text" name="tasks[name]" value="<%=@tasks.name%>" placeholder="Todo Item" ><br>
	<label for="details">Details:</label>
	<span><textarea name="tasks[details]" placeholder="Details" ><%=@tasks.details%></textarea></span><br>
	<label for="details">Date (mm/dd/yyyy):</label>
	<input type="text" name="tasks[date]" value="<%=@tasks.date.strftime("%m/%d/%Y") if @tasks.date%>" placeholder="Date" ><br>
	<input type="submit" value="Submit">
</form>